body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas {
}
h1 {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  animation-name: h1;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transition: 0.5s;
}
@keyframes h1 {
  10% {
    color: red;
  }
  20% {
    color: blue;
  }
  30% {
    color: yellow;
  }
  40% {
    color: aqua;
  }
  50% {
    color: greenyellow;
  }
  60% {
    color: orange;
  }
  70% {
    color: rgb(242, 0, 255);
  }
  80% {
    color: rgb(46, 46, 183);
  }
  90% {
    color: brown;
  }
  100% {
    color: gray;
  }
}

p {
  color: white;
  position: absolute;
  top: 29%;
  left: 25%;
  font-size: 20px;
  font-style: italic;
}
pre {
  position: absolute;
  top: 37%;
  left: 20%;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#i {
  font-size: 20px;
}
div {
  position: absolute;
  bottom: 60%;
 
}
